@font-face {font-family: 'Open Sans';font-weight:normal;font-style:normal;src: url("xara_font_1.woff?14") format("woff"), local('Open Sans');}
@font-face {font-family: 'xr2_Open Sans1';font-weight:bold;font-style:normal;src: url("xara_font_2.woff?14") format("woff"), local('xr2_Open Sans1');}
@font-face {font-family: 'xr2_Open Sans1';font-weight:bold;font-style:normal;src: url("xara_font_3.woff?14") format("woff"), local('xr2_Open Sans1');}
@font-face {font-family: 'FontAwesome';font-weight:normal;font-style:normal;src: url("xara_font_4.woff?14") format("woff"), local('FontAwesome');}
